@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafb;
}

.sidebar-item:hover {
  position: absolute;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: #fff;
}
